# Node
node_modules/
npm-debug.log
.env
.env.local
client/dist/
client/dev-dist/
client/node_modules/
server/node_modules/
dist/
build/

# Vite (or Vue CLI)
client/.vite/
client/dist/

# Express server
server/data.zip
server/*.log

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Others
*.local
*.zip
cookies.txt
